{% extends 'base.html' %}
{% load bootstrap %}
{% block title %} Deletar Cliente {% endblock %}
{% block main %}
  <form class="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|bootstrap_horizontal:'col-lg-3 mt-2' }}
    <button class="btn btn-success" style='margin-left: 10px; min-width: 10%;'  type="submit" name="button">Deletar</button>
    <a href="{% url 'ler_usuario' %}" class="btn btn-dark" style='min-width: 10%;'  type="submit" name="button">Voltar</a>
  </form>
{% endblock %}
